@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

WordPress Theme

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #275269;
$background: #f2f2f2;
$border: #275269;

$max_width: 1000px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
	font-family: 'Geomanist Bold';
	src: url(fonts/Geomanist-Bold.otf);
}

@font-face {
	font-family: 'Geomanist Book';
	src: url(fonts/Geomanist-Book.otf);
}

@font-face {
	font-family: 'Geomanist Medium';
	src: url(fonts/Geomanist-Medium.otf);
}

@font-face {
	font-family: 'Geomanist Regular';
	src: url(fonts/Geomanist-Regular.otf);
}

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Geomanist Regular';
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Geomanist Bold';
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to2 {
		margin-bottom: 20px;
	}
	.moduletable_to3 {
		margin-bottom: 20px;
		a {
			&.icon {
				padding: 0 20px;
				font-size: 18px;
			}
			&.button {
				margin: 0;
				background-color: $secondary_color;
				border-radius: 0;
				-webkit-border-bottom-right-radius: 10px;
				-webkit-border-bottom-left-radius: 10px;
				-moz-border-radius-bottomright: 10px;
				-moz-border-radius-bottomleft: 10px;
				border-bottom-right-radius: 10px;
				border-bottom-left-radius: 10px;
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {
		border-top: 5px solid $secondary_color;
		.layer_1 {
			height: 220px;
			background: {
				image: url(banner_inicio_01_bg.png);
				position: center;
				repeat: no-repeat;
				size: cover;
			}
			.layer_2 {
				height: 220px;
				background: {
					image: url(banner_inicio_01_bg_white.png);
					position: center;
					repeat: no-repeat;
				}
				.layer_3 {
					padding-top: 40px;
					text-align: center;
				}
			}
		}
	}
}

/* Content */

.content {
	padding: 40px 0;
	h1 {
		margin-bottom: 10px;
		background: {
			image: url(content_h1_bg.png);
			position: center;
			repeat: no-repeat;
		}
		font-size: 18px;
		color: $secondary_color;
		&.special {
			background-image: none;
			font-size: 35px;
			color: #000;
			span {
				color: $secondary_color;
			}
		}
	}
	h2 {
		font-size: 16px;
		color: $secondary_color;
	}
	h3 {
		&.white {
			margin-bottom: 10px;
			padding-bottom: 10px;
			background: {
				image: url(content_h3_white_bg.png);
				position: bottom;
				repeat: no-repeat;
			}
			font: {
				family: 'Geomanist Medium';
				size: 30px;
			}
			color: #fff;
		}
	}
	.asterisk {
		color: red;
	}
	p {
		&.white {
			color: #fff;
		}
	}
	a {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	input {
		border-radius: 0;
	}
	textarea {
		border-radius: 0;
	}
	.button {
		background-color: $secondary_color;
		border-radius: 0;
	}
	.box {
		h4 {
			margin-bottom: 0;
			font-size: 48px;
			color: #fff;
		}
		.box_blue {
			min-height: 68px;
			padding: 4px 0;
			background-color: $secondary_color;
			-webkit-border-top-left-radius: 10px;
			-webkit-border-top-right-radius: 10px;
			-moz-border-radius-topleft: 10px;
			-moz-border-radius-topright: 10px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			font: {
				family: 'Geomanist Bold';
				size: 20px;
			}
			color: #fff;
		}
		.box_grey {
			min-height: 40px;
			padding: 4px 0;
			background-color: $background;
			font: {
				family: 'Geomanist Book';
				size: 20px;
			}
			&.dark {
				background-color: #c9c9c9;
			}
		}
	}
	&.full-width {
		.max {
			max-width: $max_width;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding-bottom: 40px;
	.moduletable_b11 {
		h3 {
			margin-bottom: 0;
			background: {
				image: url(block_1_h3_bg.png);
				position: center;
				repeat: no-repeat;
			}
			font-size: 18px;
			color: $secondary_color;
		}
		.item {
			border: 1px solid $secondary_color;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			h3 {
				margin: 10px 0;
				padding: 10px 0;
				background-color: $secondary_color;
				font-size: 14px;
				color: #fff;
				a {
					color: #fff;
				}
			}
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 40px 0;
	background: {
		image: url(block_2_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b21 {
		h3 {
			font-size: 18px;
			color: #fff;
		}
		.form-line {
			padding: 20px;
			border: 1px solid #fff;
			label {
				color: #fff;
			}
			[type=text],
			[type=email],
			textarea {
				background-color: transparent;
				border-color: #fff;
				border-radius: 0;
				color: #fff;
			}
			.button {
				background-color: #fff;
				border-radius: 0;
				color: $secondary_color;
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 20px 0;
	.moduletable_bo1 {
		color: $secondary_color;
		p {
			margin: 0;
		}
		.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 20px;
	color: $secondary_color;
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}